.DS_Store
DerivedData/
.build/
.cache/
.swiftpm/
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.hmap
*.ipa
*.dSYM
*.dSYM.zip
timeline.xctimeline
playground.xworkspace
Carthage/Build/
Pods/
Vendor/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
iOSInjectionProject/
JustGo/Config/Secrets.xcconfig

# Local xcodebuild output
build/
